html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}

#alphaContainer {
    background-color: darkgray;
    height: 100%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 20px;
}

.superContainer {
    display: flex;
    padding: 40px;
    justify-content:center;
    align-items: center;
}

.calculatorContainer {
    display: flex;
    flex-direction: column;
    border: solid black 5px;
    border-radius: 18px;
    height:max-content;
    width: 450px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #1a1818;


}

.memeHeading {
    margin: 6px;
    text-align: center;
    font-weight: 50;
    color: whitesmoke;
}

.numberDisplay {
    display: flex;
    border: solid whitesmoke 5px;
    color: whitesmoke;
    border-radius: 18px;
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: right;
    align-items: center;
    height: 80px;
    font-size: 60px;
    font-weight: 900;
}

.button, .numberButton, .input {
    transition-duration: 0.2s;
}

.button:hover, .numberButton:hover, .operatorButton:hover {
    background-color: whitesmoke;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#clearButton, #equalsButton {
    border-radius: 30px;
    margin: 10px;
    height: 40px;
    width: 100% ;
    font-weight: 600;
}

.alphaRow {
    display: flex;
    justify-content: space-evenly;
}

.numberButtonsContainer, .operatorContainer {
    border: solid whitesmoke 3px;
    border-radius: 12px;
    margin: 8px;
    padding: 1px;
}

.firstRow, .secondRow, .thirdRow, .fourthRow, .opFirstRow, .opSecondRow {
    display: flex;
    justify-content: space-around;
    margin: 4px;
    padding: 5px;
}

.numberButton {
    border-radius: 30px;
    margin: 10px;
    height: 60px;
    width: 100% ;
    font-weight: 600;
    font-size: larger;
    background-color: lightblue;
}

.operatorButton {
    font-size: larger;
    border-radius: 30px;
    background-color: lightgreen;
    margin: 10px;
    height: 60px;
    width: 80%;
    font-weight: 600;
    font-size: larger;
}

#currentDisplay, #operatorActive {
    margin: 10px;
}